*{
  text-align: center;
 

}
#a { 
  background-color: red;
 
}
#b { 
  background-color: yellow;
   
}
#c {  
  background-color: green;
 
}
#d {  
  background-color: rgb(28, 18, 212);
 
 
}
#e {  
  background-color: rgb(205, 118, 11);
 flex-shrink: 2;
 
 
 
}
#f {  
  background-color: rgb(243, 240, 229);
  align-self: baseline;
  flex-shrink: 3;
   
 
}




#outrediv {
  width:60%;
  height: 300px;
  border: 2px solid black;
  margin: 10px auto;  
  background-color: rgb(119, 107, 107); 
  box-shadow: 8px 8px 8px ;  
  display: flex;
  flex-direction:row;
 
  align-content: flex-start;
  align-items: flex-start;
 
}
.inerdiv{
  height: 40px;
  width: 100px; 
  border: 2px solid black; 
  background-color: red;  
  
  

}
