h2{
      color: orange;

}
button{
      background-color: blue;
      color: white;
}
p{
      color: white;
      background-color: black;
}
h3{
      color: #ffffff;
      background-color: black;
}
h4{
      color: rgb(255,255,0);
      color: #ffff00;
      background-color: black;
}
h5{
      color: rgb(0,0,255);
      color: #0000ff;
}
div{
      width:300px;
      height: auto;
      border: solid;
      border-color: rgb(235, 235, 235);
      background-color: white;
      text-align: center;
      font-size: 55px;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      text-decoration: teal double underline;
      color: #ffa511;
      font-weight: 900;
      letter-spacing: 2px;
      line-height: 1.5x;
     
      
}