*{
      font-family: 'Courier New', Courier, monospace;
}
h3{
      color: rgb(161, 140, 124);

}
h1{
      color: #b92b27;
}
#login{
      color: rgb(255, 253, 138);
      background-color: blueviolet;
      
}
.upo{
      background-color: aqua;
      color: #3127b9;
}
p a{
      color: rgb(197, 10, 10);
      text-decoration: none;
      background-color: rgb(195, 248, 197);
}
hr+p{
      color: #278bb9;
}
.upo+button{
      background-color: #3127b9;
      color: aliceblue;
}
div>input{
      background-color: rgb(75, 100, 75);
      color: antiquewhite;
}
::placeholder{
      color: rgb(207, 190, 190);
}
button:hover{
      background-color: chocolate;
}
h3:hover{
      color: blue;
}
input[type="checkbox"]:checked+label{
      color: #b92727;
}
button:active{
      background-color: #31bd1e;
      color: azure;
}
p:nth-of-type(2n-1){
      background-color: #8a7b7b;
}
h3::first-letter{
      color: rgb(19, 79, 245);
      text-decoration: red double underline;      
      font-style: italic;
      font-weight: 900;
      font-size: 20px;
   
}
.paragraf::first-line{
      color: rgb(19, 79, 245);
      text-decoration: red double underline;      
      font-style: italic;
      font-weight: 900;
      font-size: 20px;
}
*::selection{
      color: rgb(255, 255, 255);
      background-color: #008d2a;
      text-decoration: rgb(212, 0, 0)  underline;
}